@model List<User>
@using BusinessLayer.Concrete
@using DataAccessLayer.Concrete
@using EntityLayer.Concrete

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

<h1>Index</h1>

<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Sil</th>
        <th>Güncelle</th>
        @*   <th>Detaylar</th> *@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
           
        </tr>
    }
</table>