
@{
    Layout = null;
}


@* <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 *@

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Öğrenci Kimlik Başvuru Formu</title>
	<!-- metatags-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="wedlock register form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script type="application/x-javascript">
		 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Meta tag Keywords -->
	<!-- css -->
	<link rel="stylesheet" href="~/web1/css/style.css" type="text/css" media="all" />
	<!--// css -->
	<link href="~/web1///fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<link href="~/web1///fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	<link href="~/web1///fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
</head>
<body>
	<section class="agile-header">
		<div class="agile-heading">
			<h1><span class="image"></span><label>Ö</label>ğrenci <label>K</label>imlik <label>B</label>aşvuru <label>F</label>ormu</h1>
		</div>
		<div class="agile-form">
			<form action="" method="post">
				<div class="agile-profile">
					<p>Öğrenci Numarası</p>
					<input type="text" name="OgrNo" placeholder="Numara" required="">
				</div>
				<div class="agile-email">
					<p>email-adres</p>
					<input type="email" name="Email" placeholder="email-adres" required="">
				</div>
				<div class="agile-password">
					<p>Şifre</p>
					<input type="password" name="Sifre" placeholder="Şifre" required="">
				</div>
				@* <div class="agile-profile">
					<p>Başvuru Nedeni:</p>
					<select name="BasvuruNedeni">
						<option value="" label="Seçiniz" selected="selected">Seçiniz</option>
						<option>Kayıp</option>
						<option>Çalıntı</option>
						<option>Eski</option>
						<option>Diğer</option>
					</select>
				</div> *@
				<div class="agile-fname">
					<p>Adınız</p>
					<input type="text" name="Ad" placeholder="Ad">
				</div>
				<div class="agile-lname">
					<p>Soyadınız</p>
					<input type="text" name="Soyad" placeholder="Soyad">
				</div>

				<div class="clear"></div>
				<div class="agile-profile">
					<p>Fotoğraf Seçin</p>
					<input type="file" name="Foto" accept="image/*">
				</div>
				<div class="agile-profile">
				<p>Adres</p>
				<input type="text" name="Adres" placeholder="Adres" required="">
		</div>
				@* <div class="agile-submit">
					<input type="submit" value="Gönder">
				</div> *@
				<div class="agile-profile">
					<p>Bölümünüz</p>
					@* <input type="text" name="Bolum" placeholder="Bolum" required=""> *@
					<select name="Bolum">
						<option value="" label="Seçiniz" selected="selected">Seçiniz</option>
						<option>Adli Blilimler</option>
						<option>Beden Eğitimi ve Spor Öğretmenliği</option>
						<option>Bilgisayar Mühendisliği</option>
						<option>Eczacılık</option>
						<option>Gastronomi</option>
						<option>Genetik Mühendislik</option>
						<option>Güzel Sanatlar</option>
						<option>Havacılık</option>
						<option>Hukuk</option>
						<option>İç Mimarlık</option>
						<option>Jeofizik Mühendisliği</option>
						<option>Kimya</option>
						<option>Matematik</option>
						<option>Psikoloji</option>
					</select>

					<div class="clear"></div>
				</div>

				<div class="agile-submit" id="btn1">
					<input type="submit" value="Başvur">
				</div>
			</form>
		</div>
		<div class="clear"></div>
		<footer>
		</footer>

	@* <script>
		$('btn1').click(function () {
			swal("Onaylandı!", "Başvurunuz Alınmıştır!", "success");

		});

	</script> *@



	</section>

</body>
</html>


