
@{
    Layout = null;
}

<!DOCTYPE html>
<h1>Kaydınız başarıyla alınmıştır.</h1>
<h2>Bir sonraki girşte email ve şifrenizi kullanarak giriş yapabilirsiniz. </h2>
<a href="@Url.Action("Index", "Kullanici")"> Ana sayfa</a>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
</body>
</html>
