
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
	<title>Öğrenci Kimlik Başvuru Formu</title>
	<!-- metatags-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="wedlock register form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script type="application/x-javascript">
		 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Meta tag Keywords -->
	<!-- css -->
	<link rel="stylesheet" href="~/web1/css/style.css" type="text/css" media="all" />
	<!--// css -->
	<link href="~/web1///fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<link href="~/web1///fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	<link href="~/web1///fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
</head>
<body>
	<section class="agile-header">
		<div class="agile-heading">
			<h1><span class="image"></span><label>Ö</label>ğrenci <label>K</label>imlik <label>B</label>aşvuru <label>F</label>ormu</h1>
		</div>
		<div class="agile-form">
			<form method="get">
				<div class="agile-email">
					<p>email-adres</p>
					<input type="email" name="email address" placeholder="email-adres" required="">
				</div>
				<div class="agile-password">
					<p>Şifre</p>
					<input type="password" name="password" placeholder="şifre" required="">
				</div>				
				<div class="agile-submit">
					<input type="submit" value="giriş">
				</div>
			</form>
		</div>
		<div class="clear"></div>
		<footer>
		</footer>

	</section>

</body>
</html>
@RenderBody()
