@model StudentCardApp.Models.BasvuruViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_KullaniciLayout.cshtml";
}

<h1>Create</h1>

@{
	Layout = null;
}


@* <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 *@

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Öğrenci Kimlik Başvuru Formu</title>
	<!-- metatags-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="wedlock register form a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script type="application/x-javascript">
		 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Meta tag Keywords -->
	<!-- css -->
	<link rel="stylesheet" href="~/web1/css/style.css" type="text/css" media="all" />
	<!--// css -->
	<link href="~/web1///fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<link href="~/web1///fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
	<link href="~/web1///fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
</head>
<body>
	<section class="agile-header">
		<div class="agile-heading">
			<h1><span class="image"></span><label>Ö</label>ğrenci <label>K</label>imlik <label>B</label>aşvuru <label>F</label>ormu</h1>
		</div>
		<div class="agile-form">
			<form action="" method="post">


				<div class="agile-profile">
					<p>Başvuru Nedeni:</p>
					<select name="BasvuruNedeni">
						<option value="" label="Seçiniz" selected="selected">Seçiniz</option>
						<option>Kayıp</option>
						<option>Çalıntı</option>
						<option>Eski</option>
						<option>Diğer</option>
					</select>
				</div>



				<div class="agile-profile">
					<p>Adres</p>
					<input type="text" name="Adres" placeholder="Adres" required="">
				</div>



				<div class="agile-submit" id="btn2">
					<input type="submit" value="Başvur">
				</div>
			</form>
		</div>
		<div class="clear"></div>
		<footer>
		</footer>

		@* <script>
		$('btn2').click(function () {
		swal("Onaylandı!", "Başvurunuz Alınmıştır!", "success");

		});

		</script> *@



	</section>

</body>
</html>
