
@{
    Layout = null;
}

<!DOCTYPE html>
<h1>Başvurunuz başarıyla alınmıştır.</h1>
<h2>Kart durumunu başvurularım sayfasından takip edebilirsiniz. </h2>
<a href="@Url.Action("Index", "Kullanici")">Ana sayfaya dön</a>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
</body>
</html>
